/target/

labvision_data.properties
labvision_data.script
labvision_data.log
labvision_data.data
labvision_data.backup
labvision_data.lobs
/labvision_data.tmp/
/jetty-ssl-keystore.xml
/jetty.crt
/jetty.key
/jetty.pkcs12
/devauth.p12
/keystore
/labvision_data.lck
/.dbeaver/
/reports/
/.apt_generated_tests/
