@charset "UTF-8";

.table-fixed tbody {
	height: 500px;
	overflow-y: auto;
	width: 100%;
}

.table-fixed thead,
.table-fixed tbody,
.table-fixed tfoot,
.table-fixed tr,
.table-fixed td,
.table-fixed th {
    display: block;
}

.table-fixed tbody td,
.table-fixed tbody th,
.table-fixed thead > tr > th,
.table-fixed tfoot > tr > th {
    float: left;
    position: relative;

    &::after {
        content: '';
        clear: both;
        display: block;
    }
}

.signin-page-div {
	align-items: center;
	display: flex;
	justify-content: center;
	height: 100%;
}

.signin-form {
	max-width: 450px;
}

.logout-link {
	font-family: Helvetica;
	font-size: 24px;
	color: #000000;
	text-align: left;
}

.userpage-container {
	margin-top: 75px;
}